/*RESETS*/
body {
  margin: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  color: var(--cor-s1);
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, ul, p, blockquote, dd {
  margin: 0px;
}

button {
  padding: 0px;
  border: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*Classes globais*/

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/*Header*/

.header-bg {
  padding: 0 20px;
   margin-bottom: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 2px solid var(--cor-s4);
  position: relative;
}


.logo-menu-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu li a{
  display: inline-block;
  padding: 10px;
  color: var(--cor-s2);
  position: relative;
}

.menu li a:hover {
  color: #000;
}

.menu li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: var(--cor-p1);
  position: absolute;
  bottom: -35px;
  transition: 0.3s ease-in-out;
}

.menu li a:hover::after {
  width: 100%;
}

.pessoal {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar:hover {
  border: 2px solid var(--cor-p1);
}

.cart svg:hover path {
  fill: var(--cor-s1);
}

.btn {
  background: var(--cor-p1);
  color: var(--cor-p2);
  border: none;
  border-radius: 10px;
  padding: 12px 60px;
  display: flex;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

#btn-menu {
  border: none;
  background: none;
  display: none;
}


@media (max-width: 800px) {
  .header-bg {
    margin-bottom: 0px;
  }
  .menu li a {
    font-weight: 700;
    color: var(--cor-s1);
  }
  .menu-nav {
    order: -1;
  }
  #btn-menu {
    display: block;
    position: relative;
    z-index: 100;
  }
  .menu li a::after {
    display: none;
  }
  .menu {
    background: #FFF;
    display: none;
    flex-direction: column;
    width: 70%;
    height: 1200px;
    position: absolute;
    top: 0px;
    left: -20px;
    padding: 110px 20px 0px 10px;
  }
  
  .menu-nav.active .menu {
    display: flex;
    animation: showMenu .5s forwards;
    z-index: 3;
  }
}

@media(max-width: 500px) {
  .pessoal {
    gap: 20px;
  }
  .avatar {
    width: 26px;
    height: 26px;
  }
  .logo {
    max-width: 120px;
    height: 19px;
  }
}


@keyframes showMenu {
  from {
    opacity: 0;
    transform: translate3d(-70%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}


.cart-modal-popup {
  display: none;
  background: var(--cor-s5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  z-index: 2;
  border-radius: 5px;
  top: 100px;
  right: 0;
  width: 320px;
}

.cart-modal-popup.active {
  display: block;
  animation: showCart .5s forwards;
}

.cart-title {
  font-weight: 700;
  padding: 20px;
  border-bottom: 2px solid var(--cor-s4);
}

.cart {
  position: relative;
}

#cart-number {
  display: none;
  background: var(--cor-p1);
  color: var(--cor-p2);
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  border-radius: 15px;
  padding: 1px 7px;
  right: -8px;
  top: -9px;
}

#cart-number.active {
  display: block;
}

#cart-modal-product {
  padding: 20px;
}

.cart-item {
  display: flex;
  gap: 13px;
  margin-bottom: 20px;
}

.cart-img {
  width: 40px;
  height: 40px;
}
.cart-img img {
  border-radius: 5px;
}

.cart-description {
  font-size: 14px;
  color: var(--cor-s2);
}

.cart-product-name{
  white-space: nowrap;
}
.cart-name-mobile {
  display: none;
}

.cart-price-total {
  font-weight: 700;
  color: var(--cor-s1);
}

.cart-delete {
  align-self: center;
}

.btn-cart-checkout {
 display: inline-block;
 width: 100%;
 text-align: center;
 margin-bottom: 6px;
}

.cart-empty {
  padding: 40px;
  text-align: center;
}

@media(max-width: 500px) {
  .cart-modal-popup {
    width: 100%;
  }
  .cart-img{
    width: 10vw;
  }
  .cart-description {
    font-size: 4vw;
    margin-right: auto;
  }
  .cart-delete img {
    width: 5vw;
  }
}


@media(max-width: 375px) {
  .cart-product-name{
    display: none;
  }
  .cart-name-mobile {
    display: block;
  }
}

@keyframes showCart {
  from {
    opacity: 0;
    transform: translate3d(0, -80px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}