.product-bg {
  margin-bottom: 120px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.product-images {
  display: grid;
  gap: 30px;
  justify-content: center;
}

.product-images img {
  border-radius: 10px;
}

.product-img-main {
  max-width: 410px;
  position: relative;
}

.img-main {
  border-radius: 20px;
  cursor: pointer;
}

.img-main.anima {
  animation: slideImage .5s forwards;
}
.modal .img-main.anima {
  animation: slideImage .5s forwards;
}

.product-img-secondary {
  display: flex;
  gap: 30px;
}

.img-slide {
  max-width: 80px;
  max-height: 80px;
  border-radius: 13px;
  cursor: pointer;
}

.img-slide img:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.img-slide.active {
  border: 3px solid var(--cor-p1);
}

.img-slide.active img {
  opacity: 0.4;
}

.product-informations {
  align-self: center;
  max-width: 422px;
}

.product-company {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-title {
  max-width: 20ch;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.product-description {
  max-width: 50ch;
  margin-bottom: 30px;
}

.product-price {
  margin-bottom: 30px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price-total {
  margin-right: 16px;
  font-weight: 700;
  font-size: 1.5rem;
}

.price-discount {
  background: var(--cor-p2);
  font-weight: 700;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}

.price-previous {
  font-weight: 700;
  font-size: 15px;
  text-decoration: line-through;
}

.product-cart {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.product-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--cor-s4);
  border-radius: 5px;
  padding: 14px;
  flex: 1;
  min-width: 140px;
}

.btn-input {
  border: none;
  background: none;
  padding: 6px 4px;
  cursor: pointer;
}

#quantity-amount {
  font-weight: 700;
}

#btn-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  min-width: 230px;
  cursor: pointer;
}

#btn-buy::before {
  content: url('../images/icon-cart-buy.svg');
}

.btn-slide {
  display: none;
  position: absolute;
  top: 50%;
  padding: 14px 17px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-slide.previous{
  left: 15px;
}

.btn-slide.next{
  right: 15px;
}


/*Modal images*/
.product-images.modal {
  display: none;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  padding-top: 130px;
  z-index: 10;
}
.product-images.modal.active {
  display: flex;
}
.modal .product-img-main, .modal .product-img-secondary {
  margin: 0 auto;
  animation: showModal .5s forwards;
}
.modal .btn-slide {
  display: block;
}
.img-slide.img-modal {
  background-color: #FFF;
}

.btn-close-modal {
  display: none;
}
.modal .btn-close-modal {
  display: block;
  position: absolute;
  right: 0px;
  top: -40px;
  padding: 0px;
  background: rgba(0, 0, 0, 0.0);
}
.modal .btn-close-modal img{
  padding: 0px;
  width: 24px;
}

/*Medias*/
@media(max-width: 900px) {
  .product-images {
    gap: 20px;
  }
  .product-img-main {
    max-width: 340px;
  }
  .product-img-secondary {
    gap: 21px;
  }
  .img-slide {
    max-width: 69px;
    max-height: 69px;
  }
}

@media(max-width: 760px) {
  .product {
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .product-images img {
    border-radius: 0px;
  }
  .product-img-main {
    max-width: 100%;
  }
  .img-main {
    cursor: initial;
  }
  .product-img-secondary {
    display: none;
  }
  .img-main.anima {
    animation: slideImageBtn .5s forwards;
  }
  .btn-slide {
    display: block;
  }
  .product-informations {
    justify-self: center;
    max-width: initial;
    padding: 0 20px;
  }
  .product-images.modal {
    display: none;
  }
  .product-images.modal.active {
    display: none;
  }
}

@media(max-width: 400px) {
  .product-title {
    font-size: 1.8rem;
  }
  .price {
    margin-bottom: 0px;
  }
  .product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@keyframes slideImage {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translate3d(0, -80px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes slideImageBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
